@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    
    font-family: 'Poppins', sans-serif;
}

/* Navbar css */
.nav-section a{
    font-size: 22px;
    font-weight: 700;
}
.nav-section li a{
    font-size: 16px;
    font-weight: 500;
}
.bg-img-one{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-two{
    background-image: url(images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-three{
    background-image: url(images/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content {
    padding:200px 0 50px 0 ;
}
.banner-content h2{
    color: #ffff;
    font-size: 46px;
    font-weight: 600;
}
.banner-content p{
    font-size: 16px;
    font-weight: 300;
    color: rgb(202, 200, 200);
}

/* album section */
.album-content h2{
    font-size: 38px;
    font-weight: 700;

}
.album-content p{
    font-size: 16px;
    font-weight: 300;
    color: rgb(92, 92, 92);
}

/* Our Package Style */
.our-package h1{
    font-size: 38px;
    font-weight: 600;
}
.package-content ul{
    padding-left: 0;
}

.package-content ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    color: #848199;
    margin-top: 10px;
}
.package-content ul li i{
    margin-right: 5px;
    color: rgb(5, 9, 255);
}
.package-content h2{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}
.package-content h3{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.package-content p{
    font-size: 15px;
    font-weight: 400;
    color: #848199;
}
.package-content .btn{
    background: #f496d22a;
    color: #3F87F5;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 70px;
}
.our-package .card{
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    color: #fff;
    position: relative;
    bottom: 30px;
}
.our-package .card p{
    color: rgba(255, 255, 255, 0.897);
    font-weight: 400;
}
.our-package .card ul li{
    color: rgba(255, 255, 255, 0.897);
}
.our-package .card ul li i{
    color: rgba(255, 255, 255, 0.897);
}
.our-package .card .btn{
    background: #fff;
    color: #3F87F5;
}

/* question-section style */
.question-section h1{
    font-size: 38px;
    font-weight: 600;
}

/* Team section */
.photographer-items{
    background: rgba(22, 83, 250, 0.027);
    border-radius: 20px;
}
.photographer-img img{
    border-radius: 10px;
}
.photographer-details h4{
    font-size: 16px;
    color: coral;
}
.photographer-section h1{
    font-size: 38px;
    font-weight: 600;
}
.photographer-section p{
    font-size: 18px;
    font-weight: 300;
    
}
